<% @entries.each do |e| %>
  <% unless e.user == current_user %>
    <h2><%= e.user.name %>さんとのチャット</h2>
  <% end %>
<% end %>

<hr>
<div class="chats">
  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |m| %>
        <div class="chat-box">
          <div class="chat-hukidashi"> <strong><%= m.content %></strong> <br></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="chat_posts">
      <%= render "chat_posts" %>
  </div>
</div>