<% @entries.each do |e| %>
  <% unless e.user == current_user %>
    <h2><%= e.user.name %>さんとのチャット</h2>
  <% end %>
<% end %>

<hr>
<div class="chats" style="width: 400px;">
  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |m| %>
        <% if m.user_id == current_user.id %>
          <p style="text-align: right;"><%= m.content %></p>
        <% else %>
          <p style="text-align: left;"><%= m.content %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div id="chat_posts">
      <%= render "chat_posts" %>
  </div>
</div>